<div class="ticket-item flex flex-row justify-between items-center bg-gray-100 p-2 rounded">
  <div class="w-1/4 flex flex-col">
    <span class="text-sm text-gray-600"> 
      <span class="font-semibold">{{ ticket.ticket }}</span> - {{ ticket.nameTicket }}
    </span>
    
  </div>
  <div class="w-1/4 text-center">
    <span class="font-semibold">{{ "%.2f"|format(ticket.average_price) }}</span>
  </div>
  <div class="w-1/4 text-center">
    <span>{{ ticket.number_of_tickets }}</span>
  </div>
  <div class="w-1/4 text-right">
    <span class="font-semibold">R$ {{ "%.2f"|format(ticket.total_value_purchased) }}</span>
  </div>
</div>