<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'includes/head.html' %}

  <!-- Scripts -->
  <script defer type="module" src="../static/js/all_tickets_page.js"></script>
</head>

<body class="flex flex-col items-center justify-center min-h-screen p-4">

  {% include 'includes/header.html' %}  

  <section class="bg-white rounded-lg shadow-lg p-6 mb-2 w-full max-w-md md:max-w-[900px] max-h-[calc(100vh-12rem)] overflow-y-auto">

    <div class="flex flex-col mb-2">
      <div class="ticket-header mb-4 border-b border-gray-300 pb-2">
        <div class="flex flex-row items-center">
          <div class="w-7 mr-4"></div> <!-- Espaço para o botão "..." -->
          <div class="flex-1 flex flex-row justify-between font-extrabold text-gray-700">
            <div class="w-1/4">Ativo</div>
            <div class="w-1/4 text-center">Preço Médio</div>
            <div class="w-1/4 text-center">Quantidade</div>
            <div class="w-1/4 text-right">Valor Investido</div>
          </div>
        </div>
      </div>
      
      <div id="ticketList" class="flex flex-col space-y-2">
        {% for ticket in tickets %}
          {% include 'includes/ticket.html' %}
        {% endfor %}
      </div>

    </div>    

  </section>

</body>