<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'includes/head.html' %}
</head>

<body class="h-screen flex">
  <!-- Menu Lateral Fixo -->
  <nav class="w-1/6 bg-gray-300 p-4 fixed h-full flex flex-col justify-center">
    <ul>
      <li class="mb-4">
        <a href="tickets/add" target="contentFrame" class="block p-2 bg-gray-200 rounded hover:bg-gray-300 font-semibold">
          Adicionar Ativo
        </a>
      </li>
      <li class="mb-4">
        <a href="tickets/all" target="contentFrame" class="block p-2 bg-gray-200 rounded hover:bg-gray-300 font-semibold">
          Gerenciar Ativos
        </a>
      </li>
      <li class="mb-4">
        <a href="dashboard" target="contentFrame" class="block p-2 bg-gray-200 rounded hover:bg-gray-300 font-semibold">
          Dashboard
        </a>
      </li>
      <li class="mb-4">
        <a href="news" target="contentFrame" class="block p-2 bg-gray-200 rounded hover:bg-gray-300 font-semibold">
          Notícias
        </a>
      </li>
    </ul>
  </nav>

  <!-- Conteúdo à direita -->
  <section class="ml-[calc(100%/6)] w-4/5 p-6">
    <iframe name="contentFrame" src="tickets/all" class="w-full h-full border-0"></iframe>
  </section>
</body>

</html>
