<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'includes/head.html' %}
</head>

<body>
  <header class="w-full max-w-3xl mx-auto flex justify-center items-center py-4 ">
    <img src="../static/images/icon_preto.png" alt="icone" class="w-36 rounded-full">
  </header>

  <section class="flex justify-center items-center w-full">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 w-full max-w-3xl px-4">
      <a href="/tickets/add"
        class="text-2xl text-center bg-gradient-to-b from-green-600 to-green-400 text-white font-bold py-6 rounded shadow-lg transform transition duration-300 ease-in-out hover:bg-gradient-to-b hover:from-green-700 hover:to-green-600">
        Add Ativo
      </a>
      <a href="#"
        class="text-2xl text-center bg-gradient-to-b from-green-600 to-green-400 text-white font-bold py-6 rounded shadow-lg transform transition duration-300 ease-in-out hover:bg-gradient-to-b hover:from-green-700 hover:to-green-600">
        Dashboard
      </a>
      <a href="/tickets/all"
        class="text-2xl text-center bg-gradient-to-b from-green-600 to-green-400 text-white font-bold py-6 rounded shadow-lg transform transition duration-300 ease-in-out hover:bg-gradient-to-b hover:from-green-700 hover:to-green-600">
        Gerenciar Ativos
      </a>
      <a href="#"
        class="text-2xl text-center bg-gradient-to-b from-green-600 to-green-400 text-white font-bold py-6 rounded shadow-lg transform transition duration-300 ease-in-out hover:bg-gradient-to-b hover:from-green-700 hover:to-green-600">
        Notícias
      </a>
    </div>
  </section>
</body>

</html>